@import "../../feature.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  // border: 2px solid green;
  // width: 400px;
  // height: 100vh;
  height: inherit;
  background-color: rgb(41, 40, 40);
  color: white;
}

// .appbar{
//     border: 2px solid blue;
// }
